@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Patua+One&display=swap');

footer {
    display: grid;
    padding: 10px;
    grid-gap: 16px;
    font-family: Patua One, sans-serif;
    font-size: 12px;
    height: 173px;
    background-color: #F0DDB4;
    width: 100%;
    position: static;
    bottom: 0;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-areas:
    "a a a";
}

.contact-form,address {
    text-align: left;
    padding-left: 30px;
}

#terms-conditions {
    text-align: center;
}

a:link, a:visited {
    color: #507AAB;
}

a:hover {
    color:#1EFBD3;
}

footer input[type=text], #email-сontact-form {
    padding: 2px 4px;
    margin: 2px 0 2px;
    width: 70%;
    font-size: 16px;
    outline: none;
    border:2px solid #CCCCCC;
    -webkit-border-radius: 5px;
    border-radius: 3px;
}

footer input[type=text].input-error {
    border: 1px solid #FF0000;
}

footer input[type=email].input-error {
    border: 1px solid #FF0000;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus,
button:focus {
    border-color: #000000;
}

textarea {
    display: block;
    font-size: 16px;
    margin-top: 5px;
    height: 50px;
    width: 88%;
    border:2px solid #CCCCCC;
    -webkit-border-radius: 5px;
    border-radius: 3px;
}

textarea:focus {
    border: solid 2px #1b448c;
}

input,button {
    border: 1px solid #808080;
}

footer button{
    margin-top: 4px;
    background-color: #DAEBEC;
    border: none;
    width: 72px;
    height: 16px;
    font-family: Patua One, sans-serif;
    font-size: 0.625em;
    color: #000000;
}

footer button:disabled {
    background-color: #ededed;
    color: #808080;
}

input[type=text]:hover,
.footer-contact-form-email:hover,
textarea:hover, #email-сontact-form:hover {
    border: solid 2px #507AAB;
}

#email-сontact-form:hover {
    border: solid 2px #507AAB;
}

.contact-form input {
    width: 300px;
    height: 20px;
}

.error-message {
    color: #FF0000;
    font-size: 14px;
    margin: -3px 0 -3px;
}

.length-of-message {
    color: #000000;
    font-size: 14px;
    margin: -3px 0 -3px;
}


