@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Patua+One&display=swap');

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-create-account-login {

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    text-align: center;

    max-width: 745px;
    padding: 8px 16px;
    margin: 8px;
    border: 1px solid black;


    font-family: Patua One, sans-serif;
    font-size: 1.25em;
    background-color: #DAEBEC;

}

input[type=text] {
    padding: 5px;
    border: 2px solid yellow;
    -webkit-border-radius: 5px;
    border-radius: 3px;
    margin: 10px;
}

input[type=text]:focus {
    border-color: yellow;
}

input[type=submit] {
    padding: 5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 3px;
    border-radius: 5px;
}

input:focus {
    border: solid 2px #1b448c;
    border-radius: 3px;
}

input:hover {
    border: solid 2px #507AAB;
    border-radius: 3px;
}

.send-button {
    width: 388px;
    height: 104px;
    color: #000000;
    background-color: #2DB7C1;
    font-family: Patua One, sans-serif;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-account {
    text-decoration: underline;
    font-size: 3.75em;
}



