/*.form-create-account {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    background-color: #faeab3;*/
/*    padding: 32px;*/
/*    border-color: red;*/
/*    max-width: 300px;*/
/*    border-radius: 4px;*/
/*    margin: 100px;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Patua+One&display=swap');


.form-create-account-login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;

    max-width: 745px;
    padding: 8px 16px;
    margin: 8px;
    border: 1px solid black;

    font-family: Patua One, sans-serif;
    font-size: 1.25em;
    background-color: #DAEBEC;
}

/*form input {*/
/*    width: 97%;*/
/*    padding: 10px 10px 10px;*/
/*    margin: 6px 0;*/
/*    font-weight: bold;*/
/*    font-size: large;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    justify-items: center;*/
/*}*/


/*.checkbox-terms {*/
/*    font-size: 0.875em;*/
/*}*/

h1 {
    text-decoration: underline;
    align-items: center;
    font-size: 3.75em;
}

input[type=text] {
    padding:5px;
    border:2px solid yellow;
    -webkit-border-radius: 5px;
    border-radius: 3px;
    margin: 10px;
}

input[type=text]:focus {
    border-color: yellow;
}

input[type=submit] {
    padding: 5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 3px;
    border-radius: 5px;
}

input:focus {
    border: solid 2px #1b448c;
    border-radius: 3px;
}

input:hover {
    border: solid 2px #507AAB;
    border-radius: 3px;
}


